/* couleur du thème */
$--color-primary: #3f72af;
$--color-success: #15A846;
$--color-warning: #FC8621;
$--color-danger: #E23E57;
$--color-info: #009688;

/* chemin vers le fichier de police, requis */
$--font-path: 'http://localhost:3000/@fs/C:/Users/Bindw/Desktop/NodeJS/Project/styx-v2/node_modules/element-plus/lib/theme-chalk/fonts/';

@import "element-plus/packages/theme-chalk/src/index";