.v-main__wrap {
  background: url(/black_lozenge.png) repeat;
}

.theme--dark.v-data-table>.v-data-table__wrapper>table>tbody>tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
  background: #333;
}

.stripe {
  background: repeating-linear-gradient(
    -55deg,
    #222,
    #222 10px,
    #333 10px,
    #333 20px
  );
}

.notyf__toast {
  font-family: Roboto,sans-serif;
}