.el-input__inner {
  background-color: transparent;
  color: #fff;
  border-color: rgba(63, 114, 175, .80);
  transition: background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);

  &:hover {
    background-color: rgba(63, 114, 175, .20);
    border-color: rgba(63, 114, 175, .80);
  }

  &:focus {
    border-color: $--color-primary;
    background-color: rgba(63, 114, 175, .20);
  }
}

.el-form-item__label {
  color: #fff;
}

.el-switch {
  margin-top: 10px;

  &__core {
    background-color: rgba(63, 114, 175, .20);
    border-color: rgba(63, 114, 175, .80);
  }
}

.el-switch__action {
  background-color: #ccc !important;
}